/* .header-container {
    background-color: rgb(0, 102, 102);
} */

:not(input) {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {
	margin: 0;
	padding: 0;
	font-family: system, -apple-system, BlinkMacSystemFont, Microsoft JhengHei;
}

.border-md {
	border: 2px solid rgba(0, 0, 0, 1);
}

.question-numVotes {
	font-size: 18pt;
}

.question-numVotes span {
	font-size: 22pt;
	font-weight: bold;
	color: red;
	margin-left: 2px;
	margin-right: 2px;
	text-decoration: underline;
	text-underline-offset: 4px;
}

.question-limit {
	font-size: 18pt;
	font-weight: bold;
	color: red;
	text-decoration-line: underline;
    text-underline-offset: 4px;
}

#voteTitle {
	margin: 10px auto;
	text-align: center;
	font-family: system, -apple-system, BlinkMacSystemFont, Microsoft JhengHei;
	font-size: 36pt;
	color: #336699;
	line-height: normal;
}

#enTitle {
	margin: 10px auto;
	text-align: center;
	font-family: system, -apple-system, BlinkMacSystemFont, Microsoft JhengHei;
	font-size: 32pt;
	color: #336699;
	line-height: normal;
}

#lang_select {
	/* position: absolute; */
	top: 5px;
	right: 20px;
	padding: 0px 18px;
	height: 60px;
	/* display: flex; */
	align-items: center;
	color: black;
	background: darkorange;
	border-radius: 5px;
	transition: background 0.5s;
	cursor: pointer;
	z-index: 2;
}

#lang_select:hover {
	background: #00d0ff;
}

#lang_select img {
	width: 40px;
	height: 40px;
}

#lang_select span {
	padding-left: 5px;
	font-family: system, -apple-system, BlinkMacSystemFont, Microsoft JhengHei;
	font-size: 30pt;
	transition: 0.5s;
}

button:focus,
input:focus {
	outline: none;
}

@media screen and (max-width: 1366px),
(max-width: 1536px) {

	#lang_select {
		top: 5px;
		right: 20px;
		height: 55px;
	}

	#lang_select span {
		font-size: 25pt;
	}

	#voteTitle {
		font-size: 33pt;
	}

	#enTitle {
		font-size: 22pt;
	}

	.question-numVotes,
	.question-limit {
		font-size: 16pt;
	}
}

@media screen and (max-width: 1280px) {
	#voteTitle {
		font-size: 27pt;
	}

	#enTitle {
		font-size: 27pt;
	}

	#lang_select {
		top: 5px;
		right: 20px;
		height: 55px;
	}

	#hint {
		font-size: 23pt;
	}
}

@media screen and (max-width: 1112px) {

	#lang_select span {
		font-size: 24pt;
	}
	
	#lang_select img {
		padding: 5px;
	}

	#lang_select {
		width: 40px;
		height: 40px;
		margin-top: 0.4rem !important;
		padding: 0;
		right: 10px;
	}

	.question-numVotes,
	.question-limit {
		font-size: 16pt;
	}
}

@media screen and (max-width: 1024px) {
	#voteTitle {
		font-size: 25pt;
	}

	#enTitle {
		font-size: 25pt;
	}

	#hint {
		font-size: 22pt;
	}
}
